@import "tailwindcss";


/* Color Theme Swatches in Hex */
.nordic-white { color: #DDE2E3; }
.nordic-cyan { color: #9AACB8; }
.nordic-orange { color: #B37C57; }
.nordic-grayDark { color: #3C455C; }
.nordic-brow { color: #60412B; }



